button.lg-button {
  background: goldenrod;
  width: auto;
  height: 48px;
  outline: none;
  border: none;
  font-size: 32px;
  color: white;
  -webkit-transform: matrix();
          transform: matrix(); }