.lil-email-input-wrapper{
    /*
    Height and width fixed according to figma to the nearest mutiple of 5
    */
    width:345px;
    height: 45px;
    box-shadow: 0px 0px 8px 0px #1463CC 10%; 
    @apply lil-flex lil-justify-between lil-items-center lil-bg-white lil-rounded-md;
}

.lil-email-input-wrapper > .lil-email-input{
    @apply lil-items-center lil-text-s-14 lil-px-2;
}

.lil-email-input-wrapper > .lil-email-submit{
    @apply lil-btn lil-btn-link lil-items-center lil-text-base lil-font-bold;
}

@screen sm{
    .lil-email-input-wrapper{
        height: 25px;
        box-shadow: 0px 0px 8px 0px #1463CC 10%; 
        @apply lil-flex lil-w-full lil-justify-between lil-items-center lil-bg-white lil-rounded-md;
    }
    
    .lil-email-input-wrapper > .lil-email-input{
        @apply lil-items-center lil-text-s-10 lil-px-2;
    }
    
    .lil-email-input-wrapper > .lil-email-submit{
        @apply lil-btn lil-items-center lil-text-s-12 lil-font-bold lil-h-4;
    }
}
.lil-email-input:hover,
.lil-email-input:focus,
.lil-email-submit:hover,
.lil-email-submit:focus{
    @apply lil-outline-none;
}

