.lil-vertical-flat-tabs{
    @apply lil-list-none lil-overflow-x-auto;
}

.lil-vertical-flat-tabs > .lil-flat-tab{
    @apply lil-bg-white lil-opacity-50 lil-py-5 lil-px-0 lil-outline-none lil-flex lil-whitespace-normal lil-cursor-pointer;
}

.lil-vertical-flat-tabs .lil-flat-tab-active{
    @apply lil-opacity-100 lil-bg-blue-50;
}

.lil-flat-tab-active {
    position: relative;
    @import lil-bg-grey-190;
}

.lil-flat-tab-active:before {
    top: 0px;  
    content: "";
    @apply lil-absolute lil-bg-blue-350 lil-h-full lil-inline-block lil-w-1 lil-align-middle;
}


@screen sm {
    .lil-vertical-flat-tabs {
        @apply lil-flex lil-overflow-x-auto;
    }

    .lil-vertical-flat-tabs > .lil-flat-tab{
        min-width: 300px;
    }
}
