.lil-caret {
    @apply lil-h-3 lil-w-3;
}

.lil-caret-up {
    border-bottom: none;
    border-right: none;
    @apply lil-border-t-md lil-border-l-md lil-border-grey-450 lil-border-solid lil-rotate-45;
}

.lil-caret-down {
    border-top: none;
    border-left: none;
    @apply lil-border-b-md lil-border-r-md lil-border-grey-450 lil-border-solid lil-rotate-45;
}
