.lil-caret {
    @apply lil-h-2 lil-w-2 lil-border-xl lil-border-transparent lil-items-center;
}

.lil-caret-down {
    border-right:none;
    border-bottom: none;
    @apply lil-border-t-md lil-border-l-md lil-border-font-500 lil-transform lil-rotate-45;
}

.lil-caret-up {
    border-top: none;
    border-left: none;
    @apply lil-border-b-md lil-border-r-md lil-border-font-500 lil-transform lil-rotate-45;
}

