details > summary::-webkit-details-marker {
    display: none;
}

details > summary:focus {
    outline: none;
}

@screen xl {
    .lil-container {
        @apply lil-w-full;
        max-width: 1440px;
        padding: 0 135px;
        margin: 0 auto;
    }
}
@screen lg {
    .lil-container {
        padding: 0 24px;
        margin: 0 auto;
    }
}
@screen md {
    .lil-container {
        padding: 0 24px;
        margin: 0 auto;
    }
}
@screen sm {
    .lil-container {
        padding: 0 24px;
    }
}
