details > summary::-webkit-details-marker {
    display: none;
}

details > summary:focus {
    outline: none;
}

select {
    background: var(--grey-150);
    @apply lil-rounded-lg lil-p-3;
}

/*
* - border-spacing not supported in tailwind
*/
.lil-border-spacing-0 {
    border-spacing: 0;
}

.lil-guitar {
    max-width: 1440px;
    padding-left: 135px;
    padding-right: 135px;
    background-image:url("https://assets1.cleartax-cdn.com/cleartax/images/1606115783_patterns.png");
    background-position: 100% 10%;
    background-repeat: no-repeat;
    background-size: auto; 
    @apply lil-mx-auto lil-w-full;
}

@screen xl {
    .lil-container {
        @apply lil-w-full;
        max-width: 1440px;
        padding-left: 135px;
        padding-right: 135px;
        @apply lil-mx-auto;
    }
}
@screen lg {
    .lil-container,
    .lil-guitar {
        @apply lil-px-6 lil-mx-auto;
    }
}
@screen md {
    .lil-container,
    .lil-guitar {
        @apply lil-px-6 lil-mx-auto;
    }
}
@screen sm {
    .lil-container {
        @apply lil-px-6;
    }
    .lil-guitar {
        background-size: 75%;
        @apply lil-px-6;
    }
}

