.lil-root,
#lil-root {
    --grey-100: #FAFAFA;
    --grey-150: #F5F5F5;
    --grey-200: #FAFBFF;
    --grey-250: #EEEEEE;
    --grey-300: #E0E0E0;
    --grey-350: #D6D6D6;
    --grey-400: #CFD4DD;
    --grey-450: #ADB1BB;
    --grey-500: #8B8F99;
    --grey-550: #686D77;
    --grey-600: #23282E;
}